
<div class="log_wrapper">
    <input type="date" class="start_date">
    <input type="time" class="start_time">
     ~ 
    <input type="date" class="end_date">
    <input type="time" class="end_time">

    <button onclick="SALT_pageMove(0)">검색</button>

    <p>검색결과</p>
    <p class="search_start"></p>
    ~
    <p class="search_end"></p>

    <button onclick="SALT_log_down()">다운로드</button>
    <button onclick="SALT_log_del()">삭제</button>

    <table border="1">

    </table>
    <center>
        <button onclick="SALT_pageMove('prev')">이전</button>
        <button onclick="SALT_pageMove('next')">다음</button>
    </center>
</div>

<script>
    const SALT_search = function(){
        let start_input = document.getElementsByClassName("start_date")[2].value + " "+ document.getElementsByClassName("start_time")[2].value;
        let end_input = document.getElementsByClassName("end_date")[2].value + " "+ document.getElementsByClassName("end_time")[2].value;

        let start = new Date(start_input);            
        let end = new Date(end_input);

        if(start > end){
            alert("잘못된 날짜 입력");
            return "";
        } else if(!isNaN(start.getDate()) && !isNaN(end.getDate())){
            document.getElementsByClassName("search_start")[2].innerText = start_input;
            document.getElementsByClassName("search_end")[2].innerText = end_input;
            return `&start=${start_input}&end=${end_input}`;
        } else {
            
            return "";
        }
    }
</script>

<script>
    let page_SALT = 0;
    let cnt_SALT = 10;

    let SALT_table = document.getElementsByTagName("table")[2]
    
    const SALT_pageMove = function(move){
        let search = SALT_search();
        let SALT_inner = `<tr>
                        <th>no</th>
                        <th>SALT</th>
                    
                        <th>date</th>
                    </tr>`;
        if(move === 'prev'){
            page_SALT--;
        } else if(move === 'next') {
            page_SALT++;
        } else {
            page_SALT = 0;
        }
        
        if(page_SALT < 0){
            page_SALT=0;
            alert("첫번째 페이지 입니다.")
        }
        if(page_SALT > cnt_SALT){
            page_SALT = cnt_SALT;
            alert("마지막 페이지 입니다.")
        }

        $.ajax({
            type:'get',
            dataType:'json',
            url:`/log/SALT?page=${page_SALT}${search}`,
            success : function(responseData) {
                const log_SALT = responseData.result;
                cnt_SALT = responseData.cnt;
                for(let i=0; i<log_SALT.length; i++){
                    SALT_inner += `
                    <tr>
                        <td> 
                            ${log_SALT[i]['SALT_key']}
                        </td>
                        <td> 
                            ${log_SALT[i]['SALT']}
                        </td>
                        <td> 
                            ${log_SALT[i]['date']}
                        </td>
                    </tr>`;
                }
                SALT_table.innerHTML = SALT_inner;
            },
            error : function(error) {
            }
        });
    }
</script>


<script>
    const SALT_log_down = function(){
        let search = SALT_search();
        location.href = `/log/down/SALT?${search}`;
    }

    const SALT_log_del = function(){
        let search = SALT_search();

        if(confirm("정말로 삭제하시겠습니까?")){
            let check = prompt("'삭제합니다'를 입력해주세요.");
            if(check === "삭제합니다"){
                alert("데이터가 삭제됩니다.");
                location.href = `/log/del/SALT?${search}`;
            } else {
                alert("잘못된 입력");
            }
        }
    }
</script>