
<div class="log_wrapper">
    <input type="date" class="start_date">
    <input type="time" class="start_time">
     ~ 
    <input type="date" class="end_date">
    <input type="time" class="end_time">

    <button onclick="DO_pageMove(0)">검색</button>

    <p>검색결과</p>
    <p class="search_start"></p>
    ~
    <p class="search_end"></p>

    <button onclick="DO_log_down()">다운로드</button>
    <button onclick="DO_log_del()">삭제</button>

    <table border="1">

    </table>
    <center>
        <button onclick="DO_pageMove('prev')">이전</button>
        <button onclick="DO_pageMove('next')">다음</button>
    </center>
</div>

<script>
    const DO_search = function(){
        let start_input = document.getElementsByClassName("start_date")[3].value + " "+ document.getElementsByClassName("start_time")[3].value;
        let end_input = document.getElementsByClassName("end_date")[3].value + " "+ document.getElementsByClassName("end_time")[3].value;

        let start = new Date(start_input);            
        let end = new Date(end_input);

        if(start > end){
            alert("잘못된 날짜 입력");
            return "";
        } else if(!isNaN(start.getDate()) && !isNaN(end.getDate())){
            document.getElementsByClassName("search_start")[3].innerText = start_input;
            document.getElementsByClassName("search_end")[3].innerText = end_input;
            return `&start=${start_input}&end=${end_input}`;
        } else {
            
            return "";
        }
    }
</script>

<script>
    let page_DO = 0;
    let cnt_DO = 10;

    let DO_table = document.getElementsByTagName("table")[3]
    
    const DO_pageMove = function(move){
        let search = DO_search();
        let DO_inner = `<tr>
                        <th>no</th>
                        <th>DO</th>
                    
                        <th>date</th>
                    </tr>`;
        if(move === 'prev'){
            page_DO--;
        } else if(move === 'next') {
            page_DO++;
        } else {
            page_DO = 0;
        }
        
        if(page_DO < 0){
            page_DO=0;
            alert("첫번째 페이지 입니다.")
        }
        if(page_DO > cnt_DO){
            page_DO = cnt_DO;
            alert("마지막 페이지 입니다.")
        }

        $.ajax({
            type:'get',
            dataType:'json',
            url:`/log/DO?page=${page_DO}${search}`,
            success : function(responseData) {
                const log_DO = responseData.result;
                cnt_DO = responseData.cnt;
                for(let i=0; i<log_DO.length; i++){
                    DO_inner += `
                    <tr>
                        <td> 
                            ${log_DO[i]['DO_key']}
                        </td>
                        <td> 
                            ${log_DO[i]['DO']}
                        </td>
                        <td> 
                            ${log_DO[i]['date']}
                        </td>
                    </tr>`;
                }
                DO_table.innerHTML = DO_inner;
            },
            error : function(error) {
            }
        });
    }
</script>


<script>
    const DO_log_down = function(){
        let search = DO_search();
        location.href = `/log/down/DO?${search}`;
    }

    const DO_log_del = function(){
        let search = DO_search();

        if(confirm("정말로 삭제하시겠습니까?")){
            let check = prompt("'삭제합니다'를 입력해주세요.");
            if(check === "삭제합니다"){
                alert("데이터가 삭제됩니다.");
                location.href = `/log/del/DO?${search}`;
            } else {
                alert("잘못된 입력");
            }
        }
    }
</script>