
<div class="log_wrapper">
    <input type="date" class="start_date">
    <input type="time" class="start_time">
     ~ 
    <input type="date" class="end_date">
    <input type="time" class="end_time">

    <button onclick="PH_pageMove(0)">검색</button>

    <p>검색결과</p>
    <p class="search_start"></p>
    ~
    <p class="search_end"></p>

    <button onclick="PH_log_down()">다운로드</button>
    <button onclick="PH_log_del()">삭제</button>

    <table border="1">

    </table>
    <center>
        <button onclick="PH_pageMove('prev')">이전</button>
        <button onclick="PH_pageMove('next')">다음</button>
    </center>
</div>

<script>
    const PH_search = function(){
        let start_input = document.getElementsByClassName("start_date")[0].value + " "+ document.getElementsByClassName("start_time")[0].value;
        let end_input = document.getElementsByClassName("end_date")[0].value + " "+ document.getElementsByClassName("end_time")[0].value;

        let start = new Date(start_input);            
        let end = new Date(end_input);

        if(start > end){
            alert("잘못된 날짜 입력");
            return "";
        } else if(!isNaN(start.getDate()) && !isNaN(end.getDate())){
            document.getElementsByClassName("search_start")[0].innerText = start_input;
            document.getElementsByClassName("search_end")[0].innerText = end_input;
            return `&start=${start_input}&end=${end_input}`;
        } else {
            
            return "";
        }
    }
</script>

<script>
    let page_PH = 0;
    let cnt_PH = 10;

    let PH_table = document.getElementsByTagName("table")[0]
    
    const PH_pageMove = function(move){
        let search = PH_search();
        let PH_inner = `<tr>
                        <th>no</th>
                        <th>PH</th>
                    
                        <th>date</th>
                    </tr>`;
        if(move === 'prev'){
            page_PH--;
        } else if(move === 'next') {
            page_PH++;
        } else {
            page_PH = 0;
        }
        
        if(page_PH < 0){
            page_PH=0;
            alert("첫번째 페이지 입니다.")
        }
        if(page_PH > cnt_PH){
            page_PH = cnt_PH;
            alert("마지막 페이지 입니다.")
        }

        $.ajax({
            type:'get',
            dataType:'json',
            url:`/log/PH?page=${page_PH}${search}`,
            success : function(responseData) {
                const log_PH = responseData.result;
                cnt_PH = responseData.cnt;
                for(let i=0; i<log_PH.length; i++){
                    PH_inner += `
                    <tr>
                        <td> 
                            ${log_PH[i]['PH_key']}
                        </td>
                        <td> 
                            ${log_PH[i]['PH']}
                        </td>
                        <td> 
                            ${log_PH[i]['date']}
                        </td>
                    </tr>`;
                }
                PH_table.innerHTML = PH_inner;
            },
            error : function(error) {
            }
        });
    }
</script>


<script>
    const PH_log_down = function(){
        let search = PH_search();
        location.href = `/log/down/PH?${search}`;
    }

    const PH_log_del = function(){
        let search = PH_search();

        if(confirm("정말로 삭제하시겠습니까?")){
            let check = prompt("'삭제합니다'를 입력해주세요.");
            if(check === "삭제합니다"){
                alert("데이터가 삭제됩니다.");
                location.href = `/log/del/PH?${search}`;
            } else {
                alert("잘못된 입력");
            }
        }
    }
</script>