<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sensor page</title>
</head>
<body>
    <h1>sensor page</h1>
    <%= parameters.user_key %>

    <input type="hidden">

    <h3>PH</h3>
    <ul class="sensor"></ul>

    <h3>RTD</h3>
    <ul class="sensor"></ul>

    <h3>EC</h3>
    <ul class="sensor"></ul>

    <h3>DO</h3>
    <ul class="sensor"></ul>

<script src="/socket.io/socket.io.js"></script>
<script>
    console.log("<%= parameters.url %>");
    let url = "<%= parameters.url %>"+"/sensor";

    const sensor = document.getElementsByClassName("sensor");
    let sensor_name = ["PH", "RTD", "EC", "DO"];

    let sensor_li = sensor[0].children;



    const socket = io.connect(url, {
        transports: ['websocket']
    });
    const user_key = "<%= parameters.user_key %>";

    socket.emit('join', user_key);

    socket.on('sensor_valueL', (data) => {
        console.log(data);
        
    })

</script>
    

</body>
</html>