
#fish1 {
    width: 20px;
    height: 20px;
    transform: scaleX(-1);
    margin-bottom: 450px;
    margin-left: 50px;
}

#fish2 {
    width: 20px;
    height: 20px;
    transform: scaleX(-1);
    margin-bottom: 500px;
    margin-left: 1700px;
}


.disconn {
    opacity: 0%;
    background-color: #105d94;
    color: #fff;
    /* border: 5px solid #7fbdeb; */
    padding: 5px;
    border-radius: 2px;
    position: absolute;
    z-index: 100;
    text-shadow: 2px 2px 2px gray;
    box-shadow: 2px 2px 2px gray;
    font-size: 25px;
    text-align: center;
    margin-top: 8%;
    margin-left: 15%;
    /* transform: rotate( -20deg ) */
}



#sensor{
    position: absolute;
    top: 25%;
    width: 100%;
    height: 65%;
    display: grid;
    grid-template-columns: 75% 25%;
    margin-top: 20px;
}



#chart_section{
    width: 90%;
    height: 97.5%;
    margin: 0 0 0 5%;
    position: relative;
    display: grid;
    grid-template-columns: 46% 46%;
    grid-template-rows: 50% 50%;
    grid-gap: 5% 8%;
}

.chart_wrapper{
    width: 100%;
    height: 90%;
    padding: 5% 0 0 0 ;
    background-color: #fff;
    overflow: hidden;
    display: grid;
    grid-template-columns: 3fr 1fr;
    border-radius: 0px 0px 3em;
    box-shadow: 5px 5px 2px black;
}

.container-fluid{
    width: 100%;
    height: 100%;
    
}

.sensor_last{
    background-color: #fff;
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.sensor_last h3{
    text-align: center;
}
.sensor_last p{
    text-align: center;
}





/* 제어 버튼 */

.button_text{
    color: #000;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.ctrl_section{
    width: 75%;
    height: 60%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    /* border: 1px solid #000; */
    background-color: #fff;
    border-radius: 0px 0px 3em;
    box-shadow: 5px 5px 2px black;
    margin-top: 50px;
    padding: 15% 0% 15%;
}

.ctrl_wrapper{
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ctrl_title{
    display: inline-block;
    margin: auto;
    text-align: center;
    font-weight: bold;
}

.ctrl_checkbox{
    opacity: 0%;
}

.ctrl{
    width: 40%;
    height: 40%;
    margin: auto;
    position: relative;
    cursor: pointer;
    background: #ddd;
    box-shadow: 1px 2px 3px #888;
    border-radius: 20px;
    transition: 0.2s;
}

.ctrl_view {
    position: absolute;
    top: 4px;
    left: 5px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    box-shadow: 1px 2px 3px #888;
    background: #fff;
    transition: 0.2s;
}

.ctrl_checkbox:checked+.ctrl_view{
    left: 58%;
    background-color: #105d94;
    
}
